<%- include('./partials/head.ejs') %> 
    <%- include('./partials/nav.ejs') %> 
    <div class="content">
        <div class="about-item">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestiae recusandae eum deleniti, odio obcaecati et sed, nulla numquam atque explicabo tempore blanditiis voluptates. Laudantium illum blanditiis atque at necessitatibus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestiae recusandae eum deleniti, odio obcaecati et sed, nulla numquam atque explicabo tempore blanditiis voluptates. Laudantium illum blanditiis atque at necessitatibus?</p>
        </div>
    </div>
<%- include('./partials/footer.ejs') %> 